@charset 'utf-8';
.PercentApp {
  min-height: 100vh;
}
.Input {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
}
.Show h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
